@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255; /* Example: White background */
    --foreground: 0 0 0;       /* Example: Black text */
    --primary: 220 98% 61%;    /* Example: Blue */
    --primary-foreground: 255 255 255; /* White */
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
